html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #f0ede5;
	font-family: Arial, Verdana;
}
form  {
	display:inline;
	float:left;
	font-family: Arial, Verdana;
}
img {
	border: 0px;
	vertical-align: middle;
}
input {
	box-shadow: 2px 2px 2px #999;
	border-radius: 4px 4px 4px 4px;
}
label {
	color: #555;
}
a, a:link, a:visited {
	color:  #2679A5;
	text-decoration: none;
}
a:hover, a:active {
	color:  #2679A5;
	font-weight: bold;
	text-decoration: underline;
}
.legenda {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	margin-right: 5px;
}
.icone {
	 margin-top: 5px;
}
#cabecalho {
	text-align: left;
	background-color: #fff;
	border-bottom: 1px solid #2679A5;
	padding: 0px 0px 20px 40px;
	box-shadow: 0px 5px 5px #999;
}
#barra {
	height: 2px;
	margin: 1% 0 7px 0;
	position: relative;
	background-image: radial-gradient(circle farthest-corner at center, #2679A5 0%, #E6E6FA 100%);
}
#info {
	font-size: 11px;
	color: #555;
	margin-left: 25%;
}
#links {
	font-size: 12px;
	text-align: center;
}
#logo {
	padding-right: 60px;
	float:left;
}
#txtEndereco {
	width: 40%;
	background: #FFF;
	color: #666;
	display: block;
	float: left;
	font-size: 12px; 
	padding: 4px 4px 4px 4px;
}
#btnEndereco {
	background: #2679A5; 
    color: #fff;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
}
#formulario {
	padding-top: 30px;
	font-size: 12px;
	color: #555;
	font-weight: bold;
}
#servicos {
	float:left;
	color: #555;
	font-size: 12px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 5px 5px 5px #999;
	margin-left: 10px;
	height: 80%;
	background-color: #fff;
}
#selecioneservicos {
	font-size: 14px;
	font-weight: bold;
}
#mapa {
	height: 80%;
	margin-left: 24%;
}
#rodape {
	font-size: 11px;
	text-align: center;
	color:  #F11;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 10%;
	cursor: pointer;
	float: right;
}
#rodape a, a:link, a:visited {
	color:  #F11;
	text-decoration: none;
}
#rodape a:hover, a:active {
	color:  #F11;
	text-decoration: underline;
}


/* =============== Checkbox personalizado =============== */
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #2679A5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 10px;
	margin-left: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #2679A5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 19px;
	position: absolute;
	top: 0px;
	left: 1px;
	color: #2679A5;
}