html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body { 
	color: #444;
	font-family: Arial, Verdana;
	line-height: 1.5em;
}
h1 {
	font-size: 11px;
	color: #104E8B;
}
form  {
	display:inline;
	float:left;
	font-family: Arial, Verdana;
}
img {
	border: 0px;
	vertical-align: middle;
}
.legenda {
	text-align: center;
	font-size: 12px;
	color: #333;
}
.icone {
	 margin-top: 7px;
}
#cabecalho {
	text-align: left;
	background: #E6E6FA;
	border-bottom: 1px solid #ccc;
	padding: 0px 10px 40px;
	margin-bottom: 10px;
}
#logo {
	padding-bottom: 0;
	padding-right: 60px;
	float:left;
}
#txtEndereco {	
	background: #FFF;
	color: #666;
	display: block;
	float: left;
	font-size: 12px; 
	padding: 4px 4px 4px 4px;
    border-radius: 10px 10px 10px 10px;
	width: 620px; 
}
#btnEndereco {
	background: #2679A5; 
	border-radius: 10px 10px 10px 10px;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    width: 130px;
}
#formulario {
	padding-top: 50px;
}
#servicos {
	margin-top: 10px;
	float:left;
}
#info {
	font-size: 11px;
	margin-left: 25%;
	color: #104E8B;
	font-weight: bold;
	float: left;	
}
#mapa {
	width: 75%;
	height: 72%;
	border: 2px solid #ccc;
	margin-left: 23%;
}
#rodape {
	font-size: 11px;
	text-align: center;
	color:  #F11;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 7%;
	cursor: pointer;
	float: right;
}
#rodape a, a:link, a:visited {
	color:  #F11;
	text-decoration: none;
}
#rodape a:hover, a:active {
	color:  #F11;
	text-decoration: underline;
}
/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
	background: #FFF; 
	border-top: 1px solid #CCC;
	cursor: pointer; 
	font: 12px Arial, Verdana;
	width: 590px;
	position: fixed;
}
.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	margin-top: 10px;
	margin-left: -35px;
}
.ui-autocomplete .ui-menu-item:hover {
	background: #E6E6FA; 
}
.ui-autocomplete .ui-corner-all { 
	color: #000;
	display: block;
}
.ui-helper-hidden-accessible {
	display: none;
}