html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #f0ede5;
	font-family: Arial, Verdana;
}
form  {
	display:inline;
	float:left;
	font-family: Arial, Verdana;
}
img {
	border: 0px;
	vertical-align: middle;
}
input {
	box-shadow: 2px 2px 2px #999;
	border-radius: 4px 4px 4px 4px;
}
label {
	color: #555;
}
a, a:link, a:visited {
	color:  #2679A5;
	text-decoration: none;
}
a:hover, a:active {
	color:  #2679A5;
	font-weight: bold;
	text-decoration: blink;
}
.icone {
	 margin-top: 5px;
}
.legenda {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	margin-right: 5px;
}
#cabecalho {
	z-index: 2;
	position: absolute;
	top: 25px;
	height: 110px;
	width: 100%;
	text-align: left;
	background-color: #fff;
	box-shadow: 0px 5px 5px #999;
	overflow: auto;
}
#btnEndereco {
	background-color: #2679A5; 
    color: #fff;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
}
#close {
	z-index: 3;
	position: absolute;
	top: 170px;
	right: 4.5%;
	font-size: 11px;
	border-radius: 4px 4px 4px 4px;
	color: #fff;
	font-weight: bold;
	background-color: #555;
	padding-left: 8px;
	padding-right: 6px;
	text-transform: uppercase;
	display:none;
	cursor: pointer;
}
#formulario {
	padding-top: 30px;
	font-size: 14px;
	color: #555;
}
#logo {
	padding-right: 60px;
	float:left;
}
#mapa {
	z-index: 0;
	position: relative;
	top: 140px;
	height: 100%;
	width: 100%;
	left: 0px;
	overflow: auto;
}
#menu {
	z-index: 2;
	position: absolute;
	top: 0px;
	width: 100%;
	font-size: 14px;
	background-color: #eee;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
}
#servicos {
        z-index: 2;
        position: absolute;
        top: 128px;
        left: 0px;
        color: #000;
        font-size: 12px;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 5px 5px 5px #999;
        margin-left: 10px;
        width: 20%;
        background-color: #fff;
        opacity:0.75;
        overflow: auto;
        padding: 10px;
}
#rota {
        z-index: 2;
        position: absolute;
        top: 198px;
        left: 75%;
        font-size: 12px;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 5px 5px 5px #999;
        margin-left: 10px;
        width: 20%;
        background-color: #b0d6fc;
}
#rotamsg {
	z-index: 3;
	position: absolute;
	top: 184px;
	left: 75%;
	font-size: 11px;
	border-radius: 4px 4px 4px 4px;
	margin-left: 10px;
	width: 20%;
	color: #000;
	font-weight: bold;
	background-color: #7bc33b;
	display:none;
}
#servicos {
	z-index: 2;
	position: absolute;
	top: 150px;
	left: 0px;
	color: #000;
	font-size: 12px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 5px 5px 5px #999;
	margin-left: 10px;
	width: 260px;
	background-color: #fff;
	opacity:0.75;
	overflow: auto;
}
#txtEndereco {
	width: 40%;
	background: #FFF;
	color: #666;
	font-size: 12px; 
	padding: 4px 4px 4px 4px;
}

/* =============== Checkbox personalizado =============== */
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #2679A5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 10px;
	margin-left: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #2679A5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px 

-12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 19px;
	position: absolute;
	top: 0px;
	left: 1px;
	color: #2679A5;
}